.sidebar {
  padding-top: 0 !important;
}

.sidebar .logo {
  width: 100%;
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

@media (min-width: 58em) {
  .sidebar .logo {
    max-width: 400px;
  }
}

#project-pixels img {
  display: inline;
}

.post .buttons,
.page .buttons {
  display: block;
  border: 2px solid #eee;
  border-radius: 5px;
  padding: 10px;
  background-color: #fafafa;
  font-size: 120%;
  margin-top: 30px;
}

.post .buttons a,
.page .buttons a {
  color: #157ac1;
}

#disqus_thread {
  border-top: 1px solid #eee;
}

#toc {
  border: 1px solid #aaa;
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 20px;

  ul {
    margin: 0;
    margin-right: 10px;
    list-style-position: inside;
    padding: 0;

    li {
      margin-left: 10px;
    }
  }
}

.page h3 {
  color: #555;
}

.page #type-info {
  font-size: 120%;
  margin-bottom: 20px;
  color: #379ce3;
  font-weight: bold;
}

.page #type-info a {
  color: #379ce3;
}

.page #type-info a:hover {
  text-decoration: none;
  color: #268bd2;
}

.page #type-info a:after {
  content: " • ";
}

.page #type-info a:last-child:after {
  content: "";
}

.page ul {
  margin: 0;
}

.page p {
  margin: 10px 0;
}

.presentation {
  overflow: hidden;
  position: relative;

  iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.presentation.ratio4x3 {
  padding-bottom: 75%;
}

.presentation.ratio16x9 {
  padding-bottom: 56.25%;
}

.news-summary {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.news-summary time {
  color: #888;
  font-family: Monaco, "Courier New", monospace;
  font-size: 18px;
}

.extra {
  background-color: #e2e7f0;
  color: #555;
  padding: 10px;
  border-radius: 10px;
}

#version2x {
  border-left: 8px solid #a9565b;
  background-color: #eee3e3;
  padding: 10px;
  margin-bottom: 10px;
  color: #510708;
  font-size: 90%;

  a {
    color: #a9565b;
    font-weight: bold;
    text-decoration: underline;
  }
}


#version3x {
  border-left: 8px solid #bbb;
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
  color: #888;
  font-size: 90%;

  a {
    color: #666;
    text-decoration: underline;
  }
}

img.right {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

img.left {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

img.center {
  display: block;
  margin: auto;
}

#vimeo {
  a.play {
    cursor: pointer;
  }

  noscript {
    color: #a9565b;
    font-weight: bold;
  }
}

#video-download {
  display: none;

  > a {
    cursor: pointer;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-position: inside;
  }
}

#contributions {
  position: relative;
  padding-top: 20px;
  margin-top: 30px;
  border-top: 1px solid #eee;

  h2 {
    margin-top: 0;
    color: #a66c75;
  }

  .address {
    margin-bottom: 1em;
  }

  #share {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
  }

  div.isso-comment div.text {
    font-size: 90%;
  }

  div.isso-postbox .textarea {
    font-size: 90%;
  }

  .contributions-note {
    font-size: 14px;
    border: 1px solid #e1e4e8;
    background-color: #f6f8fa;
    border-radius: 3px;
    padding: 16px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
      sans-serif, Apple Color Emoji, Segoe UI Emoji;

    .contributions-note-extra {
      color: #586069;
    }
  }
}

img.doc-icon {
  height: 50px;
  float: right;
}
img.doc-icon2x {
  height: 80px;
  float: right;
}

.small-note {
  font-size: 80%;
  color: gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a.anchor {
    color: lightgray;
    font-weight: normal;
    text-decoration: none;
  }

  a.anchor:hover {
    color: gray;
  }
}

@media (min-width: 48em) {
  img.doc-icon {
    height: 80px;
  }
  img.doc-icon2x {
    height: 100px;
  }
}
@media (min-width: 58em) {
  img.doc-icon {
    height: 100px;
  }
  img.doc-icon2x {
    height: 120px;
  }
}
