.sidebar {
  padding-top: 0 !important;
}

.sidebar .logo {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

#project-pixels img {
  display: inline;
}

.post .buttons, .page .buttons {
  display: block;
  border-top: 1px solid #eee;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 120%;
}

.post .buttons a, .page .buttons a {
  color: #157ac1;
}

#disqus_thread {
  border-top: 1px solid #eee;
}

#toc {
    border: 1px solid #aaa;
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 20px;
}

#toc ul {
    margin: 0;
    margin-right: 10px;
    list-style-position: inside;
    padding: 0;
}

#toc ul li {
    margin-left: 10px;
}

.page h3 {
    color: #555;
}

.page #type-info {
    font-size: 120%;
    margin-bottom: 20px;
    color: #379ce3;
    font-weight: bold;
}

.page #type-info a {
    color: #379ce3;
}

.page #type-info a:hover {
    text-decoration: none;
    color: #268bd2;
}

.page #type-info a:after {
    content: " • ";
}

.page #type-info a:last-child:after {
    content: "";
}

.page ul {
    margin: 0;
}

.page p {
    margin: 10px 0;
}

.presentation {
    overflow: hidden;
    position: relative;
    
    iframe {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.presentation.ratio4x3 {
    padding-bottom: 75%;    
}

.presentation.ratio16x9 {
    padding-bottom: 56.25%;    
}

.news-summary {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.news-summary time {
    color: #888;
    font-family: Monaco, "Courier New", monospace;
    font-size: 18px;
}

.extra {
    background-color: #e2e7f0;
    color: #555;
    padding: 10px;
    border-radius: 10px;
}

#version2x {
    border-left: 8px solid #a9565b;
    background-color: #eee3e3;
    padding: 10px;
    margin-bottom: 10px;
    color: #510708;
    font-size: 90%; 
}

#version2x a {
    color: #a9565b;
    font-weight: bold;
    text-decoration: underline;
}

#version3x {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color: #fefefe;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #888; 
    font-size: 90%; 
}

img.right {
    float: right; margin-left: 10px; margin-bottom: 10px;
}

img.left {
    float: left; margin-right: 10px; margin-bottom: 10px;
}

img.center {
    display: block; margin: auto;
}

#video-download {
    display: none;
    
    > a {
        cursor: pointer;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style-position: inside;
    }
}
