.sidebar {

}
.sidebar .logo {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

#project-pixels img {
  display: inline;
}

.post .buttons, .page .buttons {
  display: block;
  border-top: 1px solid #eee;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 120%;
}

.post .buttons a, .page .buttons a {
  color: #157ac1;
}

#disqus_thread {
  border-top: 1px solid #eee;
}
