.sidebar .logo {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

#project-pixels img {
  display: inline;
}

.post .buttons, .page .buttons {
  display: block;
  border-top: 1px solid #eee;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 120%;
}

.post .buttons a, .page .buttons a {
  color: #157ac1;
}

#disqus_thread {
  border-top: 1px solid #eee;
}

#toc {
    border: 1px solid #aaa;
    background-color: #f0f0f0;
    padding: 10px;

    margin-bottom: 20px;
}

#toc ul {
    margin: 0;
    margin-right: 10px;
    list-style-position: inside;
    padding: 0;
}

#toc ul li {
    margin-left: 10px;
}

.page h3 {
    color: #555;
}

.page #type-info {
    font-size: 120%;
    margin-bottom: 20px;
    color: #379ce3;
    font-weight: bold;
}

.page #type-info a {
    color: #379ce3;
}
