<div id="contributions">
  <script data-isso="/comments/monix/"
          data-isso-css="true"
          data-isso-lang="en"
          data-isso-reply-to-self="true"
          data-isso-require-author="true"
          data-isso-require-email="true"
          data-isso-reply-notifications="true"
          data-isso-max-comments-top="10"
          data-isso-max-comments-nested="5"
          data-isso-reveal-on-click="5"
          data-isso-gravatar="true"
          data-isso-avatar="false"
          data-isso-vote="true"
          data-vote-levels=""
          src="https://monix.io/comments/monix/js/embed.min.js"></script>
  <section id="isso-thread" data-title="{{ page.title }}">
  </section>
</div>
