
<div id="contributions">
  <h2 id="comments">Comments</h3>

  <script>
    document.write(
      '<div class="contributions-note">Be nice!<br><span class="contributions-note-extra">If you don\'t see the commenting widget, it might be blocked (see this <a href="https://github.com/utterance/utterances/issues/341" target="_blank">Privacy Badger issue</a>).</span></div>'
    );
  </script>
  <script
    src="https://utteranc.es/client.js"
    repo="monix/monix.io"
    issue-term="pathname"
    label="discussion"
    theme="github-light"
    crossorigin="anonymous"
    async
  ></script>
  <noscript>
    <div class="contributions-note">
      <strong>Enable JavaScript to see comments!</strong>
      <br />
      <span class="contributions-note-extra">
        Commenting widget is powered by GitHub's API and
        <a href="https://utteranc.es" target="_blank">utteranc.es</a>. This
        website does not track visitors or log personally identifiable
        information, see our
        <a href="{% link privacy.md %}">privacy policy</a>.
      </span>
    </div>
  </noscript>
</div>
