<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  {% capture processed_title %}{% if page.title contains "Monix" %}{{ page.title }}{% else %}{{ page.title }} &mdash; {{ site.title }}{% endif %}{% endcapture %}
  {% capture processed_description %}{% if post.excerpt %}{{ post.excerpt | strip_html | strip_newlines | truncate: 100 }}{% elsif page.description %}{{ page.description | strip_newlines }}{% else %}{{ site.tagline }}{% endif %}{% endcapture %}
  <title>{{ processed_title }}</title>

  <!-- Twitter Cards -->
  {% if page.vimeo -%}
  <meta name="twitter:card" content="player" />
  <meta name="twitter:player" content="{{ page.vimeo | vimeo_player_link }}">
  <meta name="twitter:player:width" content="560">
  <meta name="twitter:player:height" content="315">  
  <meta name="twitter:image" content="{% if page.image %}{{ page.image | prepend: site.url }}{% else %}{{ page.vimeo | vimeo_thumb_link }}{% endif %}" />
  {% elsif page.youtube -%}
  <meta name="twitter:card" content="player" />
  <meta name="twitter:player" content="{{ page.youtube | youtube_player_link }}">
  <meta name="twitter:player:width" content="560">
  <meta name="twitter:player:height" content="315">
  <meta name="twitter:image" content="{% if page.image %}{{ page.image | prepend: site.url }}{% else %}{{ page.youtube | youtube_thumb_link }}{% endif %}" />
  {% elsif page.image -%}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image:src" content="{{ page.image | prepend: site.url }}">
  {% else %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image:src" content="{{ '/public/images/monix-logo-rect.png' | prepend: site.url }}">
  {% endif -%}
  
  <meta name="twitter:site" content="@monix" />  
  <meta name="twitter:creator" content="@monix" />  
  <meta name="twitter:title" content="{{ processed_title | xml_escape }}" />
  <meta name="twitter:description" content="{{ processed_description | xml_escape }}" />
  {% if page.url -%}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  {% endif -%}

  <!-- Facebook Open-Graph -->
  <meta property="fb:app_id" content="2160100887367418" />

  <meta content="{{ site.title | xml_escape }}" property="og:site_name">
  <meta content="{{ processed_title | xml_escape }}" property="og:title">
  {% if page.description -%}
  <meta content="{{ processed_description | xml_escape }}" property="og:description">
  {% else %}
  <meta content="{{ processed_description | xml_escape }}" property="og:description">
  {% endif -%}
  {% if page.url -%}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
  {% endif -%}
  {% if page.date -%}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  {% endif -%}
  {% if page.last_modified_at -%}
  <meta content="{{ page.last_modified_at | date_to_xmlschema }}" property="article:modified_time">
  {% endif -%}
  {% if page.vimeo -%}
  <meta property="og:type" content="video.other" />
  <meta property="og:video:url" content="{{ page.vimeo | vimeo_player_link }}" />
  <meta property="og:video:secure_url" content="{{ page.vimeo | vimeo_player_link }}" />
  <meta property="og:video:type" content="video/mp4" />
  <meta property="og:video:width" content="560" />
  <meta property="og:video:height" content="315" /> 
  <meta property="og:image" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ page.vimeo | vimeo_thumb_link }}{% endif %}" />
  <meta property="og:image:secure_url" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ page.vimeo | vimeo_thumb_link }}{% endif %}" />
  {% elsif page.youtube -%}
  <meta property="og:type" content="video.other" />
  <meta property="og:video:url" content="{{ page.youtube | youtube_player_link }}" />
  <meta property="og:video:secure_url" content="{{ page.youtube | youtube_player_link }}" />
  <meta property="og:video:type" content="text/html" />
  <meta property="og:video:width" content="560" />
  <meta property="og:video:height" content="315" /> 
  <meta property="og:image" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ page.youtube | youtube_thumb_link }}{% endif %}" />
  <meta property="og:image:secure_url" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ page.vimeo | youtube_thumb_link }}{% endif %}" />
  {% elsif page.image %}
  <meta property="og:type" content="article" />
  <meta property="og:image" content="{{ site.url }}{{ page.image }}" />
  <meta property="og:image:secure_url" content="{{ site.url }}{{ page.image }}" />
  {% else %}  
  <meta content="{% if page.url == '/index.html' %}website{% else %}article{% endif %}" property="og:type">
  <meta property="og:image" content="{{ '/public/images/monix-logo.png' | absolute_url }}" />
  <meta property="og:image:secure_url" content="{{ '/public/images/monix-logo.png' | absolute_url }}" />
  {% endif -%}
      
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/all.css?{{site.time | date: '%s%N'}}">
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/forkme.ie.css?{{site.time | date: '%s%N'}}">
  <![endif]-->

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <!-- Web App Manifest, see: http://manifest.sysapps.org/ -->
  <link rel="manifest" href="{{ site.baseurl }}manifest.json">
  <!-- Icons -->
  <link rel="icon" sizes="48x48" href="{{ site.baseurl }}public/icons/icon-48x48.png">
  <link rel="icon" sizes="72x72" href="{{ site.baseurl }}public/icons/icon-72x72.png">
  <link rel="icon" sizes="96x96" href="{{ site.baseurl }}public/icons/icon-96x96.png">
  <link rel="icon" sizes="144x144" href="{{ site.baseurl }}public/icons/icon-144x144.png">
  <link rel="icon" sizes="192x192" href="{{ site.baseurl }}public/icons/icon-192x192.png">
  <link rel="icon" sizes="240x240" href="{{ site.baseurl }}public/icons/icon-240x240.png">
  <link rel="icon" sizes="384x384" href="{{ site.baseurl }}public/icons/icon-384x384.png">
  <!-- Mobile Safari / iOS Icons -->
  <link rel="apple-touch-icon" sizes="48x48" href="{{ site.baseurl }}public/icons/icon-48x48.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}public/icons/icon-72x72.png">
  <link rel="apple-touch-icon" sizes="96x96" href="{{ site.baseurl }}public/icons/icon-96x96.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}public/icons/icon-144x144.png">
  <link rel="apple-touch-icon" sizes="192x192" href="{{ site.baseurl }}public/icons/icon-192x192.png">
  <link rel="apple-touch-icon" sizes="240x240" href="{{ site.baseurl }}public/icons/icon-240x240.png">
  <link rel="apple-touch-icon" sizes="384x384" href="{{ site.baseurl }}public/icons/icon-384x384.png">
  <!-- Standard Favicon -->
  <link rel="shortcut icon" href="{{ site.baseurl }}favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="Feed" href="{{ site.baseurl }}blog/atom.xml">
</head>
