<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  {% capture processed_title %}{% if page.title contains "Monix" %}{{ page.title }}{% else %}{{ page.title }} &mdash; {{ site.title }}{% endif %}{% endcapture %}
  {% capture processed_description %}{% if post.excerpt %}{{ post.excerpt | strip_html | strip_newlines | truncate: 100 }}{% elsif page.description %}{{ page.description | strip_newlines }}{% else %}{{ site.tagline }}{% endif %}{% endcapture %}
  <title>{{ processed_title }}</title>

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@alexelcu" />  
  <meta name="twitter:image" content="{{ site.url }}/public/images/monix-logo-rect.png" />
  <meta name="twitter:title" content="{{ processed_title }}" />
  <meta name="twitter:description" content="{{ processed_description }}" />

  <!-- Facebook Open-Graph -->
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ processed_title }}" />
  <meta property="og:description" content="{{ processed_description }}" />
  <meta property="og:image" content="{{ site.url }}/public/images/monix-logo.png" />

  <!-- Google authorship -->
  <link href="https://aboutme.google.com/b/114340982690903406207/" rel="publisher">

  <!-- Javascript -->
  <script src="//code.jquery.com/jquery-2.2.4.min.js" type="text/javascript" language="javascript"></script>
  <script src="{{ site.baseurl }}public/js/toc.js" type="text/javascript" language="javascript"></script>
  <script src="{{ site.baseurl }}public/js/init.js" type="text/javascript" language="javascript"></script>
  
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/hyde.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/custom.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/forkme.css">
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/forkme.ie.css">
  <![endif]-->

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <!-- Web App Manifest, see: http://manifest.sysapps.org/ -->
  <link rel="manifest" href="{{ site.baseurl }}manifest.json">
  <!-- Icons -->
  <link rel="icon" sizes="48x48" href="{{ site.baseurl }}public/icons/icon-48x48.png">
  <link rel="icon" sizes="72x72" href="{{ site.baseurl }}public/icons/icon-72x72.png">
  <link rel="icon" sizes="96x96" href="{{ site.baseurl }}public/icons/icon-96x96.png">
  <link rel="icon" sizes="144x144" href="{{ site.baseurl }}public/icons/icon-144x144.png">
  <link rel="icon" sizes="192x192" href="{{ site.baseurl }}public/icons/icon-192x192.png">
  <link rel="icon" sizes="240x240" href="{{ site.baseurl }}public/icons/icon-240x240.png">
  <link rel="icon" sizes="384x384" href="{{ site.baseurl }}public/icons/icon-384x384.png">
  <!-- Mobile Safari / iOS Icons -->
  <link rel="apple-touch-icon" sizes="48x48" href="{{ site.baseurl }}public/icons/icon-48x48.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}public/icons/icon-72x72.png">
  <link rel="apple-touch-icon" sizes="96x96" href="{{ site.baseurl }}public/icons/icon-96x96.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}public/icons/icon-144x144.png">
  <link rel="apple-touch-icon" sizes="192x192" href="{{ site.baseurl }}public/icons/icon-192x192.png">
  <link rel="apple-touch-icon" sizes="240x240" href="{{ site.baseurl }}public/icons/icon-240x240.png">
  <link rel="apple-touch-icon" sizes="384x384" href="{{ site.baseurl }}public/icons/icon-384x384.png">
  <!-- Standard Favicon -->
  <link rel="shortcut icon" href="{{ site.baseurl }}favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="Feed" href="{{ site.baseurl }}blog/atom.xml">
</head>
