Related to the Monix library:

<ul>
  <li>
    <a href="{{ site.baseurl }}presentations/2017-tale-of-two-monix-streams.html">
      A Tale of Two Monix Streams
    </a>
    at
    <a href="https://scala.world/">Scala World 2017</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}presentations/2016-akka-monix-typelevel.html">
      Akka &amp; Monix: Controlling Power Plants
    </a>
    at
    <a href="https://scaladays.org/archive/copenhagen2017.html">ScalaDays 2017</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}presentations/2016-task-flatmap-oslo.html">
      Monix Task: Lazy, Async &amp; Awesome
    </a>
    at
    <a href="http://2016.flatmap.no/">flatMap(Oslo) 2016</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}presentations/2016-akka-monix-typelevel.html">
      Akka &amp; Monix: Controlling Power Plants
    </a>
    at
    <a href="http://2016.flatmap.no/">flatMap(Oslo) 2016</a>
  </li>
</ul>
