<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <a class="github-fork-ribbon" href="{{ site.github.repo }}"
        title="Fork me on GitHub">Fork me on GitHub</a>

      <h1>
        <a href="{{ site.baseurl }}">
          <img src="{{ site.baseurl }}public/images/monix-logo.svg"
            alt="Monix Logo" title="Monix" class="logo" />
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">About</a>
      <a class="sidebar-nav-item{% if page.url contains "/docs" %} active{% endif %}" href="{{ site.baseurl }}docs/2x/">Documentation</a>
      <a class="sidebar-nav-item{% if page.url contains "/blog" %} active{% endif %}" href="{{ site.baseurl }}blog/">Blog</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. Some rights reserved
      (See <a href="{{ site.baseurl }}LICENSE.html">LICENSE</a>)</p>
  </div>
</div>
