<aside class="sidebar plus">
  <div class="container">
    <div class="sidebar-about">
      <a class="github-fork-ribbon left-top" href="{{ site.github.repo }}"
        title="Fork me on GitHub">Fork me on GitHub</a>

      <h1>
        <a href="{{ site.baseurl }}">
          <img src="{{ site.baseurl }}public/images/monix-logo.png"
            alt="Monix Logo" title="Monix" class="logo" />
        </a>
      </h1>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">About</a>
      <a class="sidebar-nav-item{% if page.url contains "/blog" %} active{% endif %}" href="{{ site.baseurl }}blog/">Blog</a>
      <a class="sidebar-nav-item{% if page.url contains "/docs" %} active{% endif %}" href="{{ site.baseurl }}docs/3x/">Documentation</a>
      <a class="sidebar-nav-item{% if page.url contains "/presentations" %} active{% endif %}" href="{{ site.baseurl }}presentations/">Presentations</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <a class="sidebar-nav-item{% if page.url contains "/social" %} active{% endif %}" href="{{ site.baseurl }}social.html">Follow @Monix</a>
    </nav>
  </div>
</aside>
