{% capture vimeo %}{% if page.vimeo %}{{ page.vimeo }}{% else %}{{ include.vimeo }}{% endif -%}{% endcapture -%}

<div id="vimeo">
  <div id="player">
    <a href="{{ vimeo | vimeo_link }}" class="play" target="_blank">
      <img class="play-button"
        src="{{ vimeo | vimeo_thumb_play_link }}"
        data-src="{{ vimeo | vimeo_player_link }}"
        data-ratio="{{ include.ratio }}"
        title="Click to Play!"
        alt="Click to Play!"
      />
    </a>
  </div>
  <noscript>
    WARNING: Javascript is disabled, cannot play video inline!
    <br>
    <a href="{{ vimeo | vimeo_link }}" target="_blank">View it on Vimeo.com &raquo;</a>
  </noscript>
</div>

<div id="video-download">
  View or Download Raw Video ▾
  <ul>
  </ul>
</div>

<script language="javascript">
  document.addEventListener("DOMContentLoaded", function(event) {
    initVimeo("{{ vimeo }}");
  });
</script>
