{% capture vimeo %}{% if page.vimeo %}{{ page.vimeo }}{% else %}{{ include.vimeo }}{% endif -%}{% endcapture -%}
<div id="video-frame" class="presentation" style="padding-bottom: {{ include.ratio }}%;">
<iframe src="{{ vimeo | vimeo_player_link }}"
        frameborder="0"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen>
</iframe>
</div>

<div id="video-download">
  View or Download Raw Video ▾

  <ul>
  </ul>
</div>

<script src="https://player.vimeo.com/api/player.js"></script>
<script language="javascript">
  initVimeo("{{ vimeo }}");
</script>
