{% capture vimeo %}{% if page.vimeo %}{{ page.vimeo }}{% else %}{{ include.vimeo }}{% endif -%}{% endcapture -%}

<div id="video-frame" class="presentation" style="padding-bottom: {{ include.ratio }}%;">
  <iframe src="{{ vimeo | vimeo_player_link }}"
          id="vimeo-iframe"
          frameborder="0"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen>
  </iframe>

  <noscript>
    WARNING: Javascript is disabled, cannot play video inline!
    <br>
    <a href="{{ vimeo | vimeo_link }}" target="_blank">View it on Vimeo.com &raquo;</a>
  </noscript>
</div>

<div id="video-download">
  View or Download Raw Video ▾
  <ul>
  </ul>
</div>

<script language="javascript">
  document.addEventListener("DOMContentLoaded", function(event) {
    initVimeo("{{ vimeo }}");
  });
</script>
