---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>

  <nav role="navigation" id="type-info">
    {% if page.type_api %}<a href="{{ site.api3x }}{{ page.type_api | replace: '.','/' }}.html">API Documentation</a>{% endif %}
    {% if page.type_source %}<a href="{{ site.github.repo }}/blob/v{{ site.promoted.version3x }}/{{ page.type_source }}">Source Code</a>{% endif %}
    {% if page.play_url %}<a href="{{ page.play_url }}" target="_blank">Try It in ScalaFiddle</a>{% endif %}
    <a href="{{ site.github.docs }}/edit/master/_tut/{{ page.path }}">Edit Page</a>
    {% if page.has_comments %}<a href="#comments">Comments</a>{% endif %}
  </nav>
  
  <div id="version3x">
    You are viewing the documentation for the latest Monix 3.x series.<br/>
    Older versions:
    {% for version in site.deprecated_versions %}
      {% capture alt_link %}{{ page.path | current_doc_link: site.pages, version.path }}{% endcapture -%}      
      <a href="{% link {{ alt_link }} %}">{{ version.label }}</a>{% unless forloop.last == true %}, {% endunless -%}      
    {% endfor %}
  </div>

  <nav role="navigation" id="toc">
    {% include toc.html h_min=2 h_max=3 html=content %}
  </nav>

  {{ content }}

  <div class="buttons">
    <a href="{% link {{ page.path | doc_contents_link }} %}">Contents</a> •
    <a href="{{ site.github.docs }}/edit/master/_tut/{{ page.path }}">
      Edit Page</a> •
    {% if page.play_url %}<a href="{{ page.play_url }}" title="Powered by ScalaFiddle" target="_blank">
      Try It</a> •{% endif %}
    <a href="{{ site.github.chat }}">
      Join Chat</a> •
    <a href="{{ site.baseurl }}social.html">
      Follow</a>
  </div>

  {% if page.has_comments %}{% include comments.html %}{% endif -%}
</div>
