---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>

  {% if page.with_last_modified_at %}
  <time class="post-date" itemprop="dateModified"
    datetime="{{ page.last_modified_at | date: "%Y-%m-%d" }}">
    <b>Updated at:</b> {{ page.last_modified_at | date_to_string }}
  </time>
  {% endif -%}

  <nav role="navigation" id="type-info">
    <a href="{{ site.github.docs }}/edit/master/{{ page.path | replace: 'docs/', '_docs/' }}">Edit Page</a>
  </nav>

  <nav role="navigation" id="toc">
    {% include toc.html h_min=2 h_max=3 html=content %}
  </nav>

  {{ content }}

  <div class="buttons">
    <a href="/docs/current/">Contents</a> •
    <a href="{{ site.github.docs }}/edit/master/{{ page.path | replace: 'docs/', '_docs/' }}">
      Edit Page</a> •
    <a href="{{ site.github.chat }}">
      Join Chat</a> •
    <a href="{{ site.baseurl }}social.html">
      Follow</a>
  </div>

  {% if page.has_comments %}{% include comments.html %}{% endif -%}
</div>
