---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  <nav role="navigation" id="type-info">
    <a href="{{ site.github.docs }}/edit/master/_tut/{{ page.path }}">Edit Page</a>
  </nav>

  <nav role="navigation" id="toc">
    {% include toc.html h_min=2 h_max=3 html=content %}
  </nav>

  {{ content }}

  <div class="buttons">
    <a href="/docs/3x/">Contents</a> •
    <a href="{{ site.github.docs }}/edit/master/_tut/{{ page.path }}">
      Edit Page</a> •
    <a href="{{ site.github.chat }}">
      Join Chat</a> •
    <a href="{{ site.baseurl }}social.html">
      Follow</a>
  </div>

  {% if page.comments %}{% include comments.html %}{% endif -%}
</div>
