---
layout: default
---

<div class="page">
  <a name="start"></a>
  <h1 class="page-title">{{ page.title }}</h1>

  <time class="post-date" itemprop="dateModified"
    datetime="{{ page.last_modified_at | date: "%Y-%m-%d" }}">
    <b>Updated at:</b> {{ page.last_modified_at | date_to_string }}
  </time>

  {{ content }}

  <div class="buttons">
    <a href="{{ site.github.docs }}/edit/master/{{ page.path }}" target="_blank">
      Edit Page</a> •
    <a href="{{ site.github.chat }}" target="_blank">
      Join Chat</a> •
    {% if page.author -%}
    <a href="https://twitter.com/{{ page.author }}" target="_blank">
      Follow @{{ page.author }}</a>
    {% else -%}
    <a href="{{ site.baseurl }}social.html">
      Follow @Monix</a>
    {% endif -%}
  </div>

  {% if page.has_comments %}{% include comments.html %}{% endif -%}
</div>
